@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="tickets-page">
    <div class="cover">
        <!-- <img src="images/slider/slider1.jpg" alSt=""> -->
    </div>
    <div class="container">
        <h2 class="main-title">My Tickets</h2>
        <div class="tickets-container">
            <div class="ticket">
                <div class="poster">
                    <img src="~/images/moviesImges/poster.PNG" alt="" class="movie-poster">
                    <div class="movie-info">
                        <!-- <h3 class="movie-name">Joker</h3> -->
                        <div class="movie-details">
                            <div class="colm">
                                <h4 class="text">ROW</h4>
                                <h5 class="text-value">C</h5>
                            </div>
                            <div class="colm">
                                <h4 class="text">SEAT</h4>
                                <h5 class="text-value">7</h5>
                            </div>
                            <div class="colm">
                                <h4 class="text">DATE</h4>
                                <h5 class="text-value">17<span>Sep</span></h5>
                            </div>
                            <div class="colm">
                                <h4 class="text">TIME</h4>
                                <h5 class="text-value">11:30<span>pm</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie-barcode">
                    <!-- <i class="fa-solid fa-barcode"></i> -->
                    <p>The Great Hall</p>
                    <img src="~/images/moviesImges/barcde.jpg" alt="">
                    <span>MA20001230R</span>
                </div>
            </div>
            @* <div class="ticket">
            <div class="poster">
            <img src="~/images/moviesImges/poster3.jpg" alt="" class="movie-poster">
            <div class="movie-info">
            <!-- <h3 class="movie-name">Joker</h3> -->
            <div class="movie-details">
            <div class="colm">
            <h4 class="text">ROW</h4>
            <h5 class="text-value">C</h5>
            </div>
            <div class="colm">
            <h4 class="text">SEAT</h4>
            <h5 class="text-value">7</h5>
            </div>
            <div class="colm">
            <h4 class="text">DATE</h4>
            <h5 class="text-value">17<span>Sep</span></h5>
            </div>
            <div class="colm">
            <h4 class="text">TIME</h4>
            <h5 class="text-value">11:30<span>pm</span></h5>
            </div>
            </div>
            </div>
            </div>
            <div class="movie-barcode">
            <!-- <i class="fa-solid fa-barcode"></i> -->
            <p>The Great Hall</p>
            <img src="~/images/moviesImges/barcde.jpg" alt="">
            <span>MA20001230R</span>
            </div>
            </div> *@
        </div>
    </div>
</section>