<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinema_Hope | @ViewData["Title"] </title>

    <!-- <link rel="stylesheet" href="~/AdminStyle/lib/bootstrap/dist/css/bootstrap.min.css" />  replaced with this under -->

    <link rel="stylesheet" href="~/AdminStyle/css/bootstrap.min.css" />

    <!--Bootstrap Icons -->
    <link rel="stylesheet" href="~/AdminStyle/lib/bootstrap-icons/font/bootstrap-icons.min.css" />


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- File Of Styling Selectlist -->
    <link rel="stylesheet" href="~/AdminStyle/lib/select2/css/select2.min.css" />

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="~/AdminStyle/lib/sweetalert2/sweetalert2.min.css" />

    <!-- This File Site.css Always Should be tha last bottom -->
    <link rel="stylesheet" href="~/AdminStyle/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminStyle/Cinema_Hope.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light mb-3" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cinema_Hope</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark"  asp-controller="Movies" asp-action="Index">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Cinemas" asp-action="Index">Cinemas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Locations" asp-action="Index">Locations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Screens" asp-action="Index">Screens</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="ShowTimes" asp-action="Index">ShowTimes</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="UserArea" asp-controller="Home" asp-action="Index">UserArea</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Cinema_Hope - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/AdminStyle/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/AdminStyle/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- File Of Styling Selectlist -->
    <script src="~/AdminStyle/lib/select2/js/select2.min.js"></script>

    <!-- Sweet Alert -->
    <script src="~/AdminStyle/lib/sweetalert2/sweetalert2.min.js" asp-append-version="true"></script>

    <script src="~/AdminStyle/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
